main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    flex-grow: 1;
}

body {
    background-color: #f5f5f5;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* Login */
.login-container {
    background-color: #d9d9d9;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 490px;
    height: 555px;
}

.login-container h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 0 0 60px;
}

.form-group {
    font-weight: bold;
    margin-bottom: 30px;
}

.form-control {
    border-radius: 20px;
}

.btn.btn-primary {
    background-color: black;
    color: white;
    font-size: 24px;
    width: 180px;
    border-radius: 20px;
    margin-top: 50px;
    transition: .3s;
}

.btn.btn-primary:hover {
    background-color: #514A4A;
    color: black;
}

#forget-password {
    margin-top: 5px;
}

.form-group label {
    display: flex;
    text-align: left;
    padding: 2px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    padding: 10px;
    position: relative;
    height: 110px;
}

.navbar-left {
    display:flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    width: 50px;
}

#user-information {
    list-style: none;
    color: white;
}