body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* Login */


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}