<header>
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-left">
            <a href="#" class="navbar-brand">
                <img src="img/user-icon.png" alt="UserLogo" id="logo">
                <ul id="user-information">
                    <li>
                        <span id="username">FulanoSilva</span>
                    </li>
                    <li>
                        <span id="role">Supervisor</span>
                    </li>
                </ul>
            </a>
            <span class="divider"></span>
        </div>

        <div class="navbar-right">
            <a href="index.html" class="logout">Sair <i class="fas fa-power-off"></i></a>
        </div>
    </nav>
</header>